<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.ArticleMapper">
    <insert id="publish">
        insert into steambox.article(title, img, content, pubdate, click_count, creator, auditor, community_id, hidden)
        values (#{title}, #{img}, #{content}, #{pubDate}, #{clickCount}, #{creator}, #{auditor}, #{communityId}, 0)
    </insert>
    <update id="updateArticle">
        update steambox.article
        set title=#{title},
            img=#{img},
            content=#{content},
            pubdate=#{pubDate},
            click_count=#{clickCount},
            creator=#{creator},
            auditor=#{auditor},
            community_id=#{communityId}
        where id = #{id}
    </update>
    <delete id="deleteArticle">
        delete
        from steambox.article
        where id = #{id}
    </delete>
    <select id="selectAll" resultType="Article">
        select *
        from steambox.article
        <where>
            <if test="hidden!=null">
            and hidden=#{hidden}
            </if>
            <if test="id!=null">
                and community_id = #{id}
            </if>
            <if test="aId!=0 and aId!=null">
                and id = #{aId}
            </if>
            <if test="pubDate != null">
                and pubdate = #{pubDate}
            </if>
        </where>
        <if test="limit!=null">
            limit #{limit},5
        </if>
    </select>

    <insert id="newLink">
        insert into steambox.article_category(article_id, category_id)
        values (#{articleId}, #{categoryId});
    </insert>

    <update id="setArticleLook">
        update steambox.article
        set hidden=#{param2} where id=#{param1}
    </update>

    <select id="getArticleCounts" resultType="int">
        select count(*) from steambox.article
    </select>
</mapper>