<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "mybatis.PostMapper">
    <insert id="publish">
        insert into steambox.article(title,img,content,pubdate,click_count,creator,auditor,community_id,hidden)
        values (#{title},#{img},#{content},#{pubdate},#{click_count},#{creator},#{auditor},#{community_id},0)
    </insert>
    <update id="updatePost">
        update steambox.article
        set title=#{title}, img=#{img}, content=#{content}, pubdate=#{pubdate}, click_count=#{click_count},creator=#{creator},auditor=#{auditor},community_id=#{community_id}
        where id=#{id}
    </update>
    <delete id="deletePost">
        delete from steambox.article
               where id=#{id}
    </delete>
</mapper>