<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.CategoryMapper">
    <!--login(String account, String password)-->
    <!--    <select id="login" resultType="boolean">-->
    <!--        select * from admin where account=#{account} and password=#{password}-->
    <!--    </select>-->

    <select id="getAllCategory" resultType="category">
        select *
        from steambox.category;
    </select>

    <select id="getCategoryArticle" resultType="Article">
        select
        article.id,article.hidden,article.content,article.img,article.title,article.pubdate,article.creator,article.auditor,article.click_count,article.community_id
        from steambox.article
        join steambox.article_category ac on article.id = ac.article_id
        <where>
            hidden = 1
            <if test="categoryId != null">
                and ac.category_id = #{categoryId}
            </if>
        </where>
    </select>
    <select id="ToGainByArticle" resultType="Category">
        select *
        from steambox.category
                 join steambox.article_category ac on category.id = ac.category_id
        where article_id = #{id};
    </select>

    <update id="setClassLook">
        update steambox.category
        set hidden=#{param2}
        where id = #{param1}
    </update>

    <insert id="addClass">
        insert into steambox.category(name)
        values (#{param1});
    </insert>
</mapper>