<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.CommunityMapper">

    <insert id="likeCommunity">
        insert into steambox.user_community(user_id, community_id)
        VALUES (#{userId}, #{communityId})
    </insert>

    <delete id="disLikeCommunity">
        delete from steambox.user_community
        <where>
            <if test="communityId != 0">
                and community_id = #{communityId}
            </if>
            <if test="userId != 0">
                and user_id = #{userId}
            </if>
        </where>
    </delete>

    <select id="getAll" resultType="com.niuma.model.Community">
        select *
        from steambox.community
        <where>
            <if test="id!=0">
                and id = #{id}
            </if>
        </where>
        ;
    </select>

    <update id="setCommunityLook">
        update steambox.community
        set steambox.community.hidden=#{param2}
        where steambox.community.id = #{param1}
    </update>
    <update id="updateCommunity">
        update steambox.community
        set name=#{param1},
            shoplink=#{param2}
        where id = #{param3}
    </update>

    <insert id="addCommunity">
        insert into steambox.community(name, shoplink, hidden)
        values (#{param1}, #{param2}, 1);
    </insert>
</mapper>