<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.CommentMapper">
    <insert id="addComment">
        insert into steambox.comment(content, pubdate, ipaddress, hidden, likenum, dislikenum, reply_for_id, creator,
                                     article_id)
        values (#{content}, #{pubDate}, #{ipAddress}, #{hidden}, #{likeNum}, #{disLikeNum}, #{replyForId}, #{creator},
                #{postId})
    </insert>
    <update id="updateLikeNum">
        update steambox.comment
        set likenum=#{likenum}
        where id=#{id}
    </update>
    <update id="updateDislikeNum">
        update steambox.comment
        set dislikeNum=#{dislikenum}
        where id=#{id}
    </update>
    <select id="selectLikeNum" resultType="int">
        select likenum
        from steambox.comment
        where id = #{id}
    </select>
    <select id="selectDisLikeNum" resultType="int">
        select dislikenum
        from steambox.comment
        where id = #{id}
    </select>
</mapper>