<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.UserMapper">

    <resultMap id="likeMap" type="Community">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="shoplink" property="shopLink"/>
    </resultMap>

    <select id="getUser" resultType="com.niuma.model.User">
        select *
        from steambox.user
        where account = #{param1}
          and password = #{param2}
    </select>

    <insert id="addUser">
        insert into steambox.user(account, password, nickname, photo, birthday, email, mobile, regDate, forbidden)
        values (#{account}, #{password}, #{nickName}, #{photo}, #{birthday}, #{email}, #{mobile}, #{regDate},
                #{forbidden})
    </insert>

    <select id="getLikeCommunity" resultMap="likeMap">
        select c.id, c.`name`, c.shoplink
        from steambox.user
                 join steambox.user_community uc on user.id = uc.user_id
                 join steambox.community c on c.id = uc.community_id
        where user.id = #{id};
    </select>

    <update id="updateUser">
        update steambox.user
        set nickname = #{nickName},
            photo    = #{photo},
            birthday = #{birthday},
            email    = #{email},
            mobile   = #{mobile},
            password = #{password}
        where account = #{account}
    </update>

    <update id="changePassword">
        update steambox.user
        set password=#{password}
        where account = #{account}
    </update>

    <select id="selectArticle" resultType="com.niuma.model.Article">
        select *
        from steambox.article
        where article.title like concat('%', #{content}, '%')
    </select>

    <select id="selectCommunity" resultType="com.niuma.model.Community">
        select *
        from steambox.community
        where community.name like concat('%', #{content}, '%')
    </select>

    <select id="getUserByID" resultType="com.niuma.model.User">
        select *
        from steambox.user
        <where>
            <if test="id!=0">
                and user.id = #{id}
            </if>
            <if test="email!=null and email!=''">
                and user.email = #{email}
            </if>
            <if test="acc!=null">
                and account = #{acc}
            </if>
        </where>
    </select>

</mapper>