<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "mybatis.UserMapper">

    <select id="getUser" resultType="com.niuma.model.User">
        select *
        from steambox.user
        where account= #{param1}
          and password= #{param2}
    </select>

    <insert id="addUser">
        insert into steambox.user(account,password,nickname,photo,birthday,email,mobile,regDate,forbidden)
        values (#{account},#{password},#{nickName},#{photo},#{birthday},#{email},#{mobile},#{regDate},#{forbidden})
    </insert>

    <select id="getLikeCommunity" resultType="com.niuma.model.Community">
        select c.id,c.`name`,c.shoplink
        from steambox.user
         join steambox.user_community uc on user.id = uc.user_id
         join  steambox.community c on c.id = uc.community_id
        where user.id =#{id};
    </select>

    <update id="updateUser">
        update steambox.user
        set nickName=#{nickname}, photo=#{photo}, birthday=#{birthday}, email=#{email}, mobile=#{mobile}
        where account=#{account}
    </update>

    <update id="changePassword">
        update steambox.user
        set password=#{password}
        where account=#{account}
    </update>

</mapper>